<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Spring MVC / Thymeleaf</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

  <div id="wrapper">

    <div id="content-wrapper">

      <div class="container-fluid">
			<h1 class="mt-4">Tarea 3</h1>
			<div class="card mb-4">
            	<div class="card-body">
            		<p class="mb-0">Ingrese los datos:</p><br/>
            		<form method="post" th:action="@{/parametros1}">
	            		<div class="form-group"><label class="small mb-1" for="nombre">Nombre</label><input class="form-control py-4" id="nombre" type="text" placeholder="Ingrese Nombre" style="width: 400px" name="nombre" /></div>
	                    <div class="form-group"><label class="small mb-1" for="apellido">Apellido</label><input class="form-control py-4" id="apellido" type="text" placeholder="Ingrese Apellido" style="width: 400px" name="apellido"/></div>
	                    <div class="form-group"><label class="small mb-1" for="fechanac">Fecha de Nacimiento</label><input class="form-control py-4" id="fechanac" type="date" placeholder="Ingrese Fecha" style="width: 400px" name="fechanac" /></div>
	                    <div class="form-group"><label class="small mb-1" for="lugarnac">Lugar de Nacimiento</label><input class="form-control py-4" id="lugarnac" type="text" placeholder="Ingrese Lugar" style="width: 400px" name="lugarnac"/></div>
	                    <div class="form-group"><label class="small mb-1" for="colegio">Instituto o Colegio de procedencia</label><input class="form-control py-4" id="colegio" type="text" placeholder="Ingrese Colegio" style="width: 400px" name="colegio" /></div>
	                    <div class="form-group"><label class="small mb-1" for="telefono">Teléfono fijo</label><input class="form-control py-4" id="telefono" type="text" placeholder="Ingrese Telefono" style="width: 400px" name="telefono"/></div>
	                    <div class="form-group"><label class="small mb-1" for="celular">Teléfono móvil</label><input class="form-control py-4" id="celular" type="text" placeholder="Ingrese Celular" style="width: 400px" name="celular" /></div>	                  
	                    <div class="form-group"><input type="submit" class="btn btn-primary" value="Guardar Alumno"></a></div>
	                </form>
            	</div>
            </div>
                      
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cerrar sesi&oacute;n</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">¿Est&aacute; seguro de salir del sistema?</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" th:href="@{/logout}" >Salir</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="vendor/datatables/jquery.dataTables.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="js/demo/datatables-demo.js"></script>
  <script src="js/demo/chart-area-demo.js"></script>

</body>

</html>
